p {
    font-family: Roboto;
    margin-top:0;
    margin-bottom: 0;
}
.video-title{
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 25px;
    margin-bottom: 5;
}
.video-stats{
    font-size: 14px;
    color: #606060;
    margin-top: 0;
    margin-bottom: 20px;
} 
.video-author{
    font-size: 14px;
    color: #606060;
    margin-top: 0;
    margin-bottom: 20px;   
}
.video-desciption{
    font-size: 14px;
    color: #606060;
    width: 280px;
    line-height: 22px;
}
.apple-shop {
background-color: #e34140;
color: white;
text-align: center;
margin-top: 100px;
padding-top: 20px;
padding-bottom: 20px;
}
.shop-link {
cursor: pointer;
}
.shop-link:hover {

text-decoration: underline;
}
